<!--<div class="container">-->
<!--  <app-product-list></app-product-list>-->
<!--</div>-->

<!--<app-card *ngFor="let product of products" data-bs-toggle="modal" data-bs-target="#ProductDetailModal"-->
<!--          (click)="openProductDetailsModal(ProductDetailModal)"-->
<!--          cardTitle="{{product.name}}"-->
<!--          cardImg="{{product.imagePath}}"-->
<!--          cardText="{{product.description}}"-->
<!--&gt;</app-card>-->
<!--<app-product-detail #ProductDetailModal></app-product-detail>-->
